@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&family=Public+Sans:wght@100;300;400;600&display=swap');

body {
  background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Public Sans", sans-serif;
  color: #6b728d;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.light{
    transition: 1s;
    --background : linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.6) 50%, rgba(255,255,255,.1) 100%);
}
.dark{
    transition: 1s;
    --background: #0f0f0f;
}
a {
  color: #7a92fe;
}
a:hover {
  color: #fff;
}
.container {    
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
.phone {
  background: transparent;
  height: 740px;
  width: 360px;
  border-radius: 25px;
  
  
}

.song-thumbnail {
  
  background-size: cover;
  background-image: url('listening.png');
  width: 100%;
  height: 100%;
  background-position: center center;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}
.thumbnail-border {
  height: 200px;
  width: 200px;
  margin: 20% auto 0 auto;
  border-radius: 20%;

  padding: .4rem;
 box-shadow: inset 6px 6px 20px 0 rgba(104, 139, 255, 0.2), rgba(104, 139, 255, 0.1) 0px 4px 20px, rgba(104, 139, 255, 0.1) 0px 8px 24px, rgba(102, 111, 128, 0.4) 0px 16px 45px;
}
.button {
  
  border: solid;
  background-color: #7a71ff;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow:  inset 3px 2px 5px 0 rgb(12, 69, 255), rgba(41, 91, 255, 0.74) 7px 3px 10px, rgba(0,0,0, 0.1) 7px 5px 10px
}
.button:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #779bff;
  color: #ff7575;
}
#mode{
    background-color: var(--background);
    border: none;
    color: #6b728d;
}
#song-details {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-title {
  font-size: 1.4rem;
  color: #0f0f0f;
}
.artist {
  font-size: .8rem;
  color:  #abb3c7;
}
#time-slider {
  margin: 20% 5%;
}
.slider-times {
  font-size: .6rem;
  display: flex;
  justify-content: space-between;
  color: #abb3c7;
}
input[type="range"]::-moz-range-progress {
  background-color: #779bff; 
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: transparent;
  outline: none;
  box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.2), inset 3px 3px 2px 0 rgba(50, 50, 50, 0.1), inset -45px -45px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.1);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  outline: none;
  border-radius: 50%;
  border: none;
  background: radial-gradient(circle at center, #779bff 0, #6381f9 20%, #d2e1f8 30%, #d2e1f8 70%, #fff 100%);
box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.1), rgba(0, 0, 0, 0.1) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 12px 20px;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: radial-gradient(circle at center, #779bff 0, #6381f9 20%, #d2e1f8 30%, #d2e1f8 50%, #fff 100%);
  box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.1), rgba(0, 0, 0, 0.1) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 12px 20px;
}
#song-controls {
  width: 60%;
  margin: 0% 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #abb3c7;
}
#song-controls .button {
  height: 65px;
  width: 65px;
}



